
.colo{
    background-color: rgba(0, 0, 0, 0.556);
    width: 50%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;    
    gap: 10px;
    /* justify-content: center; */
    padding: 10px;
    border-radius: 5px;
    height: 300px;
    margin:50px 0px; padding:0px;
} 

.navbar{
    height: 70px;
    /* width: 1280px;
    margin-left: -8px;
    margin-top: -8px; */
    background-color: #d6d611;
    display: flex;
    justify-content: center;
  }
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    font-weight: 1000;
    font-size: xx-large;
  }

  /* .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    border-radius: 5px;
  } */
.form-center{
    display: flex;
    justify-content: center;
}
/* body{
  background-image: url("https://i.postimg.cc/d1mr4s1R/library-book-bookshelf-read.jpg");
  background-size: cover;
} */
.box{
  background-color: white;
}